<div>
  <h1>Acompanhamento do paciente <b>Alex</b></h1>
  <hr/>
  <br>
  <div>
    <h4 style="color:#8B008B">Histórico do paciente</h4>
    <hr/>
    <div class='row'>
      <div class='col-md-2'>
        <div class="table-responsive" style="padding: 0px; margin: 0px;">
          <table class="table table-bordered table-hover" style="padding: 0px; margin: 0px; width: 95%;">
            <thead>
              <tr>
                <th class="col-sm-1">ID</th>
                <th class="col-sm-11">Anamnese</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th>
                <td>nome</td>
              </tr>
              <tr>
                <th>2</th>
                <td>nome</td>
              </tr>
              <tr>
                <th>3</th>
                <td>nome</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class='col-md-2'>
        <div class="table-responsive">
          <table class="table table-bordered table-hover" style="width: 95%;">
            <thead>
              <tr>
                <th class="col-sm-1">ID</th>
                <th class="col-sm-11">Antropometria</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th>
                <td>nome</td>
              </tr>
              <tr>
                <th>2</th>
                <td>nome</td>
              </tr>
              <tr>
                <th>3</th>
                <td>nome</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class='col-md-2'>
        <div class="table-responsive">
          <table class="table table-bordered table-hover" style="width: 95%;">
            <thead>
              <tr>
                <th class="col-sm-1">ID</th>
                <th class="col-sm-11">Av. Laborator.</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th>
                <td>nome</td>
              </tr>
              <tr>
                <th>2</th>
                <td>nome</td>
              </tr>
              <tr>
                <th>3</th>
                <td>nome</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class='col-md-2'>
        <div class="table-responsive">
          <table class="table table-bordered table-hover" style="width: 95%;">
            <thead>
              <tr>
                <th class="col-sm-1">ID</th>
                <th class="col-sm-11">Alimentação</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>1</th>
                <td>nome</td>
              </tr>
              <tr>
                <th>2</th>
                <td>nome</td>
              </tr>
              <tr>
                <th>3</th>
                <td>nome</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class='col-md-3' style="color:#8B008B">
        <h5>Acompanhamento: <b>Ativo</b></h5>
        <h5>Objetivo: <b>Ganho de massa muscular</b></h5>
        <div style="user-select: text;">
          <button class="btn btn-primary col-xs-7" style="margin-bottom: 1px;">Acessar perfil</button>
          <button class="btn btn-success col-xs-7">Agendamento</button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h4 style="color:#8B008B">Dados do paciente</h4>
    <hr/>
  </div>
  <div class='row' align="center">
    <div class='col-md-3'>
      <h4>medida 01</h4>
      <input class='knob second' data-bgcolor='#d4ecfd' data-fgcolor='#30a1ec' data-height='140' data-inputcolor='#333' data-thickness='.3'
        data-width='140' type='text' value='50'>
    </div>
    <div class='col-md-3'>
      <h4>medida 02</h4>
      <input class='knob second' data-bgcolor='#c4e9aa' data-fgcolor='#8ac368' data-height='140' data-inputcolor='#333' data-thickness='.3'
        data-width='140' type='text' value='75'>
    </div>
    <div class='col-md-3'>
      <h4>medida 03</h4>
      <input class='knob second' data-bgcolor='#cef3f5' data-fgcolor='#5ba0a3' data-height='140' data-inputcolor='#333' data-thickness='.3'
        data-width='140' type='text' value='35'>
    </div>
    <div class='col-md-3'>
      <h4>medida 04</h4>
      <input class='knob second' data-bgcolor='#f8d2e0' data-fgcolor='#b85e80' data-height='140' data-inputcolor='#333' data-thickness='.3'
        data-width='140' type='text' value='85'>
    </div>
  </div>
  <h4 style="color:#8B008B">Linha do tempo</h4>
  <hr/>
  <div class="row">
    <div align="center">
      <div class='box-chart'>
        <h3>Anamnese</h3>
        <canvas id="GraficoLine"></canvas>
      </div>
    </div>
    <div align="center">
      <div class='box-chart'>
        <h3>Antropometria</h3>
        <canvas id="GraficoLine1"></canvas>
      </div>
    </div>
    <div align="center">
      <div class='box-chart'>
        <h3>Av. Laboratorial</h3>
        <canvas id="GraficoLine2"></canvas>
      </div>
    </div>
  </div>
</div>