<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
<body>

	<aside class="sidebar-left-collapse">

		<a href="#" class="company-logo">Logo</a>

		<div class="sidebar-links">

			<div class="link-blue">

				<a href="#">
					<i class="fa fa-folder-o" aria-hidden="true"></i>Agenda
				</a>

				<ul class="sub-links">
					<li><a href="#">Compromissos</a></li>
				</ul>

      </div>

      <div class="link-orange">

		<a href="#">
					<i class="fa fa-bars"></i>Cadastros
				</a>

				<ul class="sub-links">
          		<li><a href="#" routerLink="/profissao">Profissão</a></li>
          		<li><a href="#">Receita</a></li>
          		<li><a href="#" routerLink="/nivel-socioeconomico">Nível Socioeconômico</a></li>
				</ul>

			</div>

			<div class="link-red">

				<a href="#">
					<i class="fa fa-user fa-fw"></i>Pacientes
				</a>

				<ul class="sub-links">
					<li><a href="#" routerLink="/paciente">Acompanhamento</a></li>
				</ul>

			</div>

			<div class="link-yellow">

				<a href="#">
					<i class="fa fa-book fa-fw"></i>Exames
				</a>

				<ul class="sub-links">
					<li><a href="#">Avaliação laborátorial</a></li>
          			<li><a href="#">Anamnese</a></li>
          			<li><a href="#">Antropometria</a></li>
				</ul>

			</div>

			<div class="link-green">

				<a href="#">
          <i class="fa fa-cog"></i>Conta
				</a>

				<ul class="sub-links">
          <li><a href="#" routerLink="/nutricionista">Meus dados</a></li>
        	<li><a href="#">Minha assinatura</a></li>
				</ul>

			</div>

		</div>

	</aside>

	<div class="main-content">
    	<router-outlet></router-outlet>
	</div>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script>

		$(function () {

			var links = $('.sidebar-links > div');

			links.on('click', function () {

				links.removeClass('selected');
				$(this).addClass('selected');

			});
		});

</script>


</body>
